/* .popup__label {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    transition: .3s;
    position: absolute;
    left: 0;
    bottom: 13px;
} */