.header__email {
  display: none;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin: 40px auto 0;
  list-style: none;
  width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (min-width: 500px) {
  .header__email {
    display: block;
    margin: 0 0 0 0;
    width: 141px;
  }
}
