.header__nav {
  display: block;
  margin: 0 10px 0 0;
  height: 30px;
  justify-content: end;
}

@media (min-width: 500px) {
  .header__nav {
    margin: 0;
    display: flex;
    width: 220px;
    gap: 24px;
  }

  .header__nav ul {
    flex-direction: column;
    row-gap: 30px;
  }
}
