@import url('../vendor/normalize.css');

@import url('../vendor/fonts/fonts.css');

@import url('../blocks/body/body.css');

@import url('../blocks/page/page.css');

@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/header/__burger/header__burger.css');
@import url('../blocks/header/__title-button/header__title-button.css');
@import url('../blocks/header/__burger/__burger-box/header__burger-box.css');
@import url('../blocks/header/__burger/__burger-email/header__burger-email.css');
@import url('../blocks/header/__burger/__burger-button/header__burger-button.css');
@import url('../blocks/header/__bar/header__bar.css');
@import url('../blocks/header/__bar/__bar-email/header__bar-email.css');
@import url('../blocks/header/__bar/__bar-email/header__bar-email.css');
@import url('../blocks/header/__burger/__burger-nav/header__burger-nav.css');
@import url('../blocks/header/__bar/__bar-button/header__bar-button.css');

/* Информация пользователя */

@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__button/profile__button.css');
@import url('../blocks/profile/__image/profile__image.css');
@import url('../blocks/profile/__subtitle/profile__subtitl.css');
@import url('../blocks/profile/__title/profile__title.css');
@import url('../blocks/profile/__rectangle/profile__rectangle.css');
@import url('../blocks/profile/__vector/profile__vector.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__avatar-image.css/avatar-image.css');
@import url('../blocks/profile/__avatar-button/avatar-button.css');
@import url('../blocks/profile/__button/__plus/profile__button-plus.css');

/* Карточки */

@import url('../blocks/photos/photos.css');
@import url('../blocks/photo/photo.css');
@import url('../blocks/photo/__box/photo__box.css');
@import url('../blocks/photo/__like/photo__like.css');
@import url('../blocks/photo/__like/__active/photo__like_active.css');
@import url('../blocks/photo/__image/photo__image.css');
@import url('../blocks/photo/__title/photo__title.css');
@import url('../blocks/photo/__removel/photo__removel.css');
@import url('../blocks/photo/__like/__like-sum/photo__like-sum.css');
@import url('../blocks/photo/__removel/__removel-active/photo__removel-active.css');

/* Popup */

@import url('../blocks/popup/__button/popup__button.css');
@import url('../blocks/popup/__close/popup__buttom-close.css');
@import url('../blocks/popup/__input/popup__input.css');
@import url('../blocks/popup/__title/popup__title.css');
@import url('../blocks/popup/popup.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup/__input/__error/popup__input_type_error.css');
@import url('../blocks/popup/__button/__active/popup__button-active.css');
@import url('../blocks/popup/__image/popup__image.css');
@import url('../blocks/popup/__title-aut/popup__title-aut.css');
@import url('../blocks/popup/__tooltip/popup__tooltip.css');
@import url('../blocks/popup/_zoom-image/popup_zoom-image.css');
@import url('../blocks/popup/_image/popup_image.css');

/* popup увеличения изображения */
@import url('../blocks/popup-foto/__images/popup-foto__images.css');
@import url('../blocks/popup-foto/__title/popup-foto__title.css');

/* popup изменение аватара */

/* popup для подтверждения удаления карточки */
@import url('../blocks/popup/__container/popup__container.css');

/* footer */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');

@import url('../blocks/form/form.css');
@import url('../blocks/form/__input-error/form__input-error.css');
@import url('../blocks/form/__input-error/__active/form__input-error-active.css');

/* register */
@import url('../blocks/register/__button/registerg__button.css');
@import url('../blocks/register/__conteine/register__conteiner.css');
@import url('../blocks/register/__input/register__input.css');
@import url('../blocks/register/__text/register__text.css');
@import url('../blocks/register/__title/register__title.css');
@import url('../blocks/register/register__conteiner.css');
@import url('../blocks/register/__button-exit/registerg__button-exit.css');

/* authorization */
@import url('../blocks/authorization/__button/authorization__button.css');
@import url('../blocks/authorization/__conteiner/authorization__conteiner.css');
@import url('../blocks/authorization/__input/authorization__input.css');
@import url('../blocks/authorization/__title/authorization__title.css');
