.header__bar-email {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin: 40px auto 0;
  color: #ffffff;
  width: 142px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
